# Format, the fields marked by * are foreign keys,
# so they'll cause cross-reference of a row or
# insertion of a new row in the corresponding tables

Tag,Name,SerialNumber,*Platform,*Device_Type,*Manufacturer,*OnNode

# Example data
a001,iphone4,apple001,ios,phone,apple,goose
a002,ipad,apple002,ios,tablet,apple,maverick

